<% if (messages.error && messages.error.length > 0) { %>
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-400" role="alert">
      <ul>
        <% messages.error.forEach(function(error) { %>
          <li><%= error %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>